	html{
		background-color: var(--tg-theme-bg-color);

	}
	body{
		/*font-size: 2em;*/
		background-color: var(--tg-theme-bg-color);
	}	

	.main{
		background-color: var(--tg-theme-bg-color);
		color: var(--tg-theme-text-color);
		height: 100%;
		/*border-bottom: 2pt solid #2E3532;
		border-color: #ff0000;
		border-radius: 20pt;*/
	}

	.specs {
		display:flex;
		align-items: center;		
		align-content: center;
		justify-content: space-evenly;
		color: var(--tg-theme-text-color);
		border-color:  var(--tg-theme-text-color);
		
	}

	.specs .btn{
		color: var(--tg-theme-text-color);
		border-color:  var(--tg-theme-text-color);
		justify-content: space-between;
	}

	.possible{
		background-color: var(--tg-theme-color);
		color: var(--tg-theme-text-color);
		height: 100%;
	}
	.cases_links {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.cases_links .btn{
		padding-top: 1em;
		padding-bottom: 1em;
		display: block;
		justify-content: center;
		margin-bottom: 1em;
		color:  var(--tg-theme-text-color);
		border-color:  var(--tg-theme-text-color);

	}
