	html{
		background-color: var(--tg-theme-bg-color);

	}
	body{
		/*font-size: 2em;*/
		background-color: var(--tg-theme-bg-color);
	}	
	.specs .btn:hover{
		color:  var(--tg-theme-text-color);
		border-color:  var(--tg-theme-text-color);
	}
	.main{
		background-color: var(--tg-theme-bg-color);
		color: var(--tg-theme-text-color);
		height: 100%;
		/*border-bottom: 2pt solid #2E3532;
		border-color: #ff0000;
		border-radius: 20pt;*/
	}
	.header{
		margin: 0;
		background-color: #2E3532;
		color: var(--tg-theme-text-color);
		border-radius: 0pt 0pt 10pt 10pt;
		position: fixed;
		display:flex;
		align-items: center;		
		align-content: center;
		justify-content: space-evenly;
	}

	.header .btn{
		background-color: #2E3532;
		text-decoration: none;
		color: var(--tg-theme-text-color);
		border-radius: 0;
		/*border-color: red;*/
	}

	 .mylogo{
		align-items: center;
		justify-content: space-between;
		text-align: center;
		color: var(--tg-theme-text-color);
		text-decoration: none;
/*		text-decoration-style: underline;*/
		text-decoration-color: #D2D4C8;
		border:1pt solid #D2D4C8;
		border-radius:0;
		padding:0.2em;
	}
	.mylogo:hover{
		transition: 0.2s;
		color: var(--tg-theme-text-color);
		border:1pt solid #8B2635;
		border-radius:0;
		padding:0.2em;
	}

	.specs {
		display:flex;
		align-items: center;		
		align-content: center;
		justify-content: space-evenly;
	}

	.specs .btn{
		color: var(--tg-theme-text-color);
		justify-content: space-between;
	}

	.possible{
		background-color: var(--tg-theme-color);
		color: var(--tg-theme-text-color);
		height: 100%;
	}
	.cases_links {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.cases_links .btn{
		padding-top: 1em;
		padding-bottom: 1em;
		display: block;
		justify-content: center;
		margin-bottom: 1em;
		color:  var(--tg-theme-text-color);
		border-color:  var(--tg-theme-text-color);

	}
