html{
	background-color: var(--tg-theme-bg-color);
}
body{
	font-size: 1.3em;
	font-family: var(--bs-font-sans-serif);
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
	height: 100%;
}	
.main_container{
	padding: 2em;
	margin: 1em;
	text-align: center;
	align-items: center;
}  
.length_container{
	display: flex;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	margin-top:3em; 
}
.button{
	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	padding: 1em;
	user-select: none;
}
#generate {
	margin-top:2em; 
}